/* color palette from <https://github.com/vuejs/theme> */

// :root {
//   --fc-border-color: black;
//   --fc-daygrid-event-dot-width: 5px;
// }

// $app-color: #e8fffe;
$app-color: #fdfbee;

$app-primary-color: #077a7d;
// $logo-color: #3a59d1;
$logo-font: 'Archivo Black', sans-serif;
$app-font: 'Roboto', sans-serif;